.label{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Helvetica;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(126, 134, 250);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25;
}
.buttons{
    text-align: center;
}